<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_member.html">

<div id="member-signup" layout:fragment="content">
	<script th:inline="javascript">
			$(function(){			
				$('input.agree').click(function(){
					//체크여부 확인 및 페이지 이동
					var chkbox1 = $('input[name=agree1]').is(':checked');
					var chkbox2 = $('input[name=agree2]').is(':checked');
					var chkbox3 = $('input[name=agree3]').is(':checked');
					var type = [[${type}]];
					
					if(type == 'normal'){
						if(chkbox1 != true ){
							alert('제시마켓 이용약관에 동의 하셔야 합니다.');
							return false;
						}else if(chkbox3 != true){
							alert('개인정보 수집약관에 동의 하셔야 합니다.');
							return false;
						}else{
						location.href='/jessiemarket/member/register';	
						}
					}else{
						if(chkbox1 != true ){
							alert('제시마켓 이용약관에 동의 하셔야 합니다.');
							return false;
						}else if(chkbox2 != true){
							alert('전자금융거래 이용약관에 동의 하셔야 합니다.');
							return false;
						}else if(chkbox3 != true){
							alert('개인정보 수집약관에 동의 하셔야 합니다.');
							return false;
						}else{
							location.href='/jessiemarket/member/register-seller';
						}
							
					}
	    			
				});
				
			});

	</script>

	<h1>약관동의</h1>
	<section>
		<h3><span class="essential">(필수)</span>제시마켓 이용약관</h3>
		<textarea class="terms" readonly>[[${termsVo.terms}]]</textarea>
		<label><input type="checkbox" name="agree1" />동의합니다.</label>
	</section>
	<section th:if="${type == 'seller'}">
		<h3><span class="essential">(필수)</span>전자금융거래 이용약관</h3>
		<textarea class="financial" readonly>[[${termsVo.finance}]]</textarea>
		<label><input type="checkbox" name="agree2" />동의합니다.</label>
	</section>
	<section>
		<h3><span class="essential">(필수)</span>개인정보 수집동의</h3>
		<textarea class="privacy" readonly>[[${termsVo.privacy}]]</textarea>
		<label><input type="checkbox" name="agree3" />동의합니다.</label>
	</section>
	<section>
		<h3><span class="optional">(선택)</span>위치정보 이용약관</h3>
		<textarea class="location" readonly>[[${termsVo.location}]]</textarea>
		<label><input type="checkbox" name="agree4" />동의합니다.</label>
	</section>
	<div>
		<input type="button" class="agree" value="동의하기" />
	</div>
</div>
       
</html>