<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_sub.html">

 <section layout:fragment="content">
		<section class="NOTICE">
		    <section>
		        <a th:href="@{/sub/aboutus}"><h3>NOTICE</h3></a>
		        <nav>
		            <p><a th:href="@{/index}">HOME</a> > <strong>NOTICE</strong></p>
		        </nav>
		    </section>
		    <section class="notice">
		        <section id="board" class="list">
		            <article>
		                <table border="0">
		                    <tr>
		                        <th>번호</th>
		                        <th>제목</th>
		                        <th>글쓴이</th>
		                        <th>날짜</th>
		                        <th>조회</th>
		                    </tr>
		                    <tr>
		                        <td>1</td>
		                        <td><a href="#">[공지] 제시마켓 판매자님들은 주기적인 비밀번호 변경을 하세요.케이마켓 판매자님들은 주기적인 비밀번호 변경을 하세요.</a>&nbsp;[0]</td>
		                        <td>운영자</td>
		                        <td>2020-09-22</td>
		                        <td>1234</td>
		                    </tr>
		                    <tr>
		                        <td>2</td>
		                        <td><a href="#">[공지] 1주년 기념 신규가입 사은품 안내</a>&nbsp;[0]</td>
		                        <td>운영자</td>
		                        <td>2020-09-21</td>
		                        <td>24</td>
		                    </tr>
		                    <tr>
		                        <td>3</td>
		                        <td><a href="#">[공지] 1주년 기념 신규가입 사은품 안내</a>&nbsp;[0]</td>
		                        <td>운영자</td>
		                        <td>2020-09-21</td>
		                        <td>24</td>
		                    </tr>
		                    <tr>
		                        <td>4</td>
		                        <td><a href="#">[공지] 1주년 기념 신규가입 사은품 안내</a>&nbsp;[0]</td>
		                        <td>운영자</td>
		                        <td>2020-09-21</td>
		                        <td>24</td>
		                    </tr>
		                    <tr>
		                        <td>5</td>
		                        <td><a href="#">[공지] 1주년 기념 신규가입 사은품 안내</a>&nbsp;[0]</td>
		                        <td>운영자</td>
		                        <td>2020-09-21</td>
		                        <td>24</td>
		                    </tr>
		                    <tr>
		                        <td>6</td>
		                        <td><a href="#">[공지] 1주년 기념 신규가입 사은품 안내</a>&nbsp;[0]</td>
		                        <td>운영자</td>
		                        <td>2020-09-21</td>
		                        <td>24</td>
		                    </tr>
		                    <tr>
		                        <td>7</td>
		                        <td><a href="#">[공지] 1주년 기념 신규가입 사은품 안내</a>&nbsp;[0]</td>
		                        <td>운영자</td>
		                        <td>2020-09-21</td>
		                        <td>24</td>
		                    </tr>
		                    <tr>
		                        <td>8</td>
		                        <td><a href="#">[공지] 1주년 기념 신규가입 사은품 안내</a>&nbsp;[0]</td>
		                        <td>운영자</td>
		                        <td>2020-09-21</td>
		                        <td>24</td>
		                    </tr>
		                    <tr>
		                        <td>9</td>
		                        <td><a href="#">[공지] 1주년 기념 신규가입 사은품 안내</a>&nbsp;[0]</td>
		                        <td>운영자</td>
		                        <td>2020-09-21</td>
		                        <td>24</td>
		                    </tr>
		                    <tr>
		                        <td>10</td>
		                        <td><a href="#">[공지] 1주년 기념 신규가입 사은품 안내</a>&nbsp;[0]</td>
		                        <td>운영자</td>
		                        <td>2020-09-21</td>
		                        <td>24</td>
		                    </tr>
		                </table>
		            </article>
		                                
		            <!-- 글쓰기 버튼 -->
		           <a href="#" class="btnWrite">글쓰기</a>
		       
		       </section>
		
		           
		       </article>
		   		</section>
		                <!--상품목록 페이지번호-->
		                <div class="paging">
		                    <span class="prev">
		                        <a href="#"><&nbsp;이전</a>
		                    </span>
		                    <span class="num">
		                        <a href="#" class="on">1</a>
		                        <a href="#">2</a>
		                        <a href="#">3</a>
		                        <a href="#">4</a>
		                        <a href="#">5</a>
		                        <a href="#">6</a>
		                        <a href="#">7</a>
		                    </span>
		                    <span class="next">
		                        <a href="#">다음&nbsp;></a>
		                    </span>
		                </div>
		
		            </section>
		</section>



</html>