<!DOCTYPE html>
<!-- pom.xml - thymeleaf-layout-dialect 추가 -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">    
    <title>제시마켓::오늘은 뭘 만들어 볼까?</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" th:href=@{/css/style.css}>
    <link rel="stylesheet" th:href=@{/css/mainHeaderStyle.css}>
        <script th:src=@{/js/menuMain.js}></script>
        <script th:src=@{/js/slider.js}></script>
        <script th:src=@{/js/sideMenuMain.js}></script>
        <script th:src=@{/js/pageMover.js}></script>    
        <script th:src=@{/js/gnb.js}></script>    
</head>
<body>
    <div id="wrapper">
        
        <!-- header 시작 -->
        <header th:include="/fragments/_mainHeader.html::_header"></header>
        <!-- header 끝 -->
        
        <main>
            
            <!-- main content 시작 -->
            <div layout:fragment="content" ></div>
            <!-- main content 끝 -->
            
        </main>
        
        <!-- footer 시작 -->
        <footer th:include="/fragments/_footer.html::_footer"></footer>
        <!-- footer 끝 -->
        
        <button type="button" id="top"></button>
    </div>    
</body>
</html>