<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>
    <meta charset="UTF-8">
    <title>제시마켓::관리자</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>    
    <script th:src="@{/admin/js/gnb.js}"></script>
    <script th:src="@{/admin/js/category.js}"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/admin/css/admin.css}">
</head>
<body>
    <div id="admin-wrapper">
        
        <!-- header 시작 -->
        <header th:include="/fragments/_admin_header.html::_admin_header"></header>
        <!-- header 끝 -->
        
        <main>
            
            <!-- aside 시작 -->
            <aside th:include="/fragments/_admin_aside.html::_admin_aside"></aside>
            <!-- aside 끝 -->
            
            <!-- admin content 시작 -->
            <div layout:fragment="content"></div>
            <!-- admin content 끝 -->
        </main>
        
        <!-- footer 시작 -->
        <footer th:include="/fragments/_admin_footer.html::_admin_footer"></footer>
        <!-- footer 끝 -->
    </div>    
</body>
</html>


