<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_shop.html">

  <!-- 장바구니 -->
  <section id="cart" layout:fragment="content">
  	<script>
  		$(function(){
  			
  			// 전체체크박스 클릭
  			$('input[name=all]').change(function(){
  				
  				var isChecked = $(this).is(':checked');
  				
  				if(isChecked){
  					// 전체 체크
  					$('input[name=chk]').prop('checked', true);
  				}else{
  					// 전체 체크해제
  					$('input[name=chk]').prop('checked', false);
  				}
  			});
  			
  			// 선택삭제 버튼 클릭
  			$('input[name=del]').click(function(){
  				
  				var seqs = [];
  				
  				$('input[name=chk]:checked').each(function(i){
  					seqs[i] = $(this).val();
  				});
  				
  				if(seqs.length == 0){
  					alert('최소 1개 이상의 상품을 선택하세요.');
  					return;
  				}
  				
  				// 서버로 상품pk값 전송
  				var url = '/jessiemarket/shop/cartDel';
  				var param = {'seqs': seqs};
  				
  				$.ajax({
					url: url,
					type: 'post',
					data: param,
					traditional: true, // jquery 배열 전송시 반드시 추가되는 옵션
					dataType: 'text',
					success: function(data){
						location.href = '/jessiemarket/shop/cart';
					}
				});
  			});// 선택삭제 버튼 끝
			
  			
  			// 주문하기 버튼
  			$('input[name=order]').click(function(){
				
  				var seqs = [];
  				
  				$('input[name=chk]:checked').each(function(i){
  					seqs[i] = $(this).val();
  				});
  				
  				if(seqs.length == 0){
  					alert('최소 1개 이상의 상품을 선택하세요.');
  					return;
  				}
  				
  				var seqs = {'seqs': seqs};
  				var params = $.param(seqs, true);
  				
  				location.href = '/jessiemarket/shop/order?'+params;
  			});
  			
  		});	
  	</script>
    <!--장바구니-->
    <section id ="cart">
        <section>
        	<a><h3>CART</h3></a> 	
		    <nav>
		      <p>
		        <a th:href="@{/index}">HOME</a> > <strong>장바구니</strong>
		      </p>
		    </nav>
    	</section>
    	<section>
	      <form action="#">
	      	<input type="hidden" name="uid" th:value="${session.member.uid}" />
	        <table>
	          <thead>
	            <tr>
	              <th>
	              	<p>전체선택</p>
	              	<input type="checkbox" name="all"> 
	              </th>
	              <th>상품명</th>
	              <th>총수량</th>
	              <th>판매가</th>
	              <th>할인</th>
	              <th>포인트</th>
	              <th>배송비</th>
	              <th>소계</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr class="empty">
	              <td colspan="7">장바구니에 상품이 없습니다.</td>
	            </tr>
	            <tr th:each="item:${items}">
	              <td>
	              	<input type="checkbox" name="chk" th:value="${item.seq}">
	              </td>
	              <td>
	                <article>
	                  <a th:href="@{/shop/view(code=${item.code})}">
	                  	<img th:src="@{'/thumb/'+${item.cate1}+'/'+${item.cate2}+'/'+${item.thumb1}}" alt="t1">
	                  </a>
	                  <div>
	                    <h2>
	                    	<a th:href="@{/shop/view(code=${item.code})}">[[${item.name}]]</a>
	                    </h2>
	                    <p></p>
	                  </div>
	                </article>
	              </td>
	              <td>[[${item.count}]]</td>
	              <td>[[${#numbers.formatInteger(item.price, 3, 'COMMA')}]]</td>
	              <td>[[${item.discount}]]%</td>
	              <td>[[${item.point}]]</td>
	              <td th:if="${item.delivery > 0}">[[${#numbers.formatInteger(item.delivery, 3, 'COMMA')}]]</td>
	              <td th:if="${item.delivery == 0}">무료배송</td>
	              <td>[[${#numbers.formatInteger(item.total, 3, 'COMMA')}]]</td>
	            </tr>
	          </tbody>
	        </table>
	        <input type="button" name="del" value="선택삭제"/>
	      </form>
	    </section>
	    <div class="info">
	      <h2>전체합계</h2>
	      <table border="0">
               <tr>
                 <td>상품수</td>
                 <td>[[${totalInfo.count}]] 건</td>
               </tr>
               <tr>
                 <td>상품금액</td>
                 <td>[[${#numbers.formatInteger(totalInfo.price, 3, 'COMMA')}]]</td>
               </tr>
               <tr>
                 <td>할인금액</td>
                 <td>-[[${#numbers.formatInteger(totalInfo.sale, 3, 'COMMA')}]]</td>
               </tr>
               <tr>
                 <td>배송비</td>
                 <td>[[${#numbers.formatInteger(totalInfo.delivery, 3, 'COMMA')}]]</td>
               </tr>
               <tr>
                 <td>전체주문금액</td>
                 <td>[[${#numbers.formatInteger(totalInfo.total, 3, 'COMMA')}]]</td>
               </tr>
             </table>
	      <input type="button" name="order" value="주문하기"/>
	    </div>
    </section>
  </section>

</html>