<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_shop.html">

   <!-- 상품목록 -->
   <section id="list" layout:fragment="content">
		<section class="all">
		     <section>
		        <a href="./shop.html"><h3>[[${tit2}]]</h3></a>
		        <nav>
		            <p><a th:href="@{/index}">HOME</a> > <span>[[${tit1}]]</span> > <strong>[[${tit2}]]</strong></p>
		        </nav>
		     </section>
		     <!-- 정렬방식 링크 -->
		     <ul class="sort">
		         <li><a th:href="@{/shop/list(cate1=${cate1}, cate2=${cate2}, sort=1)}">판매많은순</a></li>
		         <li><a th:href="@{/shop/list(cate1=${cate1}, cate2=${cate2}, sort=2)}">낮은가격순</a></li>
		         <li><a th:href="@{/shop/list(cate1=${cate1}, cate2=${cate2}, sort=3)}">높은가격순</a></li>
		         <li><a th:href="@{/shop/list(cate1=${cate1}, cate2=${cate2}, sort=4)}">평점높은순</a></li>
		         <li><a th:href="@{/shop/list(cate1=${cate1}, cate2=${cate2}, sort=5)}">후기많은순</a></li>
		         <li><a th:href="@{/shop/list(cate1=${cate1}, cate2=${cate2}, sort=6)}">최근등록순</a></li>
		     </ul>
		     <!-- 상품목록 10개 -->
		     <section class="list">
		       <article th:each="item:${items}">
		         <ul>
		           <li>
		             <a th:href="@{/shop/view(code=${item.code})}" class="thumb">
		             	<img th:src="@{'/thumb/'+${item.cate1}+'/'+${item.cate2}+'/'+${item.thumb1}}" alt="상품 목록 이미지">
		             </a>
		           </li>
		           <li>
		             <h3 class="name"><a th:href="@{/shop/view(code=${item.code})}">[[${item.name}]]</a></h3>
		             <p class="desc">[[${item.descript}]]</p>
		           </li>
		           <li>
		             <div class="dis_price">
		               <ins>[[${#numbers.formatInteger(item.salePrice, 3, 'COMMA')}]]</ins>
		             </div>
		             <div class="org_price">
		               <del>[[${#numbers.formatInteger(item.price, 3, 'COMMA')}]]</del>
		               <span>[[${item.discount}]]%</span>
		             </div>
		             <span th:if="${item.delivery == 0}" class="freeshipping">무료배송</span>
		             <span th:if="${item.delivery > 0}">배송비 [[${#numbers.formatInteger(item.delivery, 3, 'COMMA')}]]원</span>
		           </li>
		           <li>
		             <h4 class="seller">
		             	<i class="fas fa-home"></i>
		             	&nbsp;[[${item.company}]]
		             </h4>
		             <h5 class="badge power">판매자등급</h5>
		             <h6 th:if="${item.score == 1}" class="rating star1">상품평</h6>
		             <h6 th:if="${item.score == 2}" class="rating star2">상품평</h6>
		             <h6 th:if="${item.score == 3}" class="rating star3">상품평</h6>
		             <h6 th:if="${item.score == 4}" class="rating star4">상품평</h6>
		             <h6 th:if="${item.score == 5}" class="rating star5">상품평</h6>
		           </li>
		         </ul>
		       </article>
		     </section>
		
		     <!-- 상품목록 페이지번호 -->
		     <div class="paging">
		       <span class="prev">
		         <a href="#"><&nbsp;이전</a>
		       </span>
		       <span class="num">
		         <a href="#" class="on">1</a>
		         <a href="#">2</a>
		         <a href="#">3</a>
		         <a href="#">4</a>
		         <a href="#">5</a>
		         <a href="#">6</a>
		         <a href="#">7</a>
		       </span>
		       <span class="next">
		         <a href="#">다음&nbsp;></a>
		       </span>
		     </div>
		</section>
   </section>
        
</html>